
form {
  background-color: white;
  opacity: 0.8;
  font-family: sans-serif, verdana, tahoma;
  text-align: center;
}

.catClicks {
  background-image:
  url(https://c4.staticflickr.com/2/1385/624194179_c74556358c_b.jpg);
}

.catClicks2 {
  background-image:
  url(https://c8.staticflickr.com/3/2298/2290467335_89067c7b51_b.jpg);
}

.catClicks, .catClicks2 {
  margin-top: 10px;
  padding: 5px;
  height: 400px;
  background-size: cover;
  color: black;
  font-size: 2em;
  font-weight: bold;
}

input {
  width: 10%;
  text-align: center;
  opacity: 0.8;
  color: red;
  border-radius: 50px;
}
